
<app-display-user-info></app-display-user-info>
<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <h2>Login</h2>
  <h3 style="color: red" *ngIf="validationMessageVisible">
    {{ validationMessage }}
  </h3>
  <div>
    <div>
      <label for="UserName">
        User Name:
      </label>
      <input type="text"
        id="UserName"
        [(ngModel)] = "model.UserName"
        name="UserName"
        required>
    </div>
    <div>
      <label for="Password">
        Password:
      </label>
      <input type="password"
        id="Password"
        [(ngModel)] = "model.Password"
        name="Password"
        required>
    </div>
  </div>
  <div>
    <button type="submit" [disabled]="!loginForm.form.valid">
      Login
    </button>
  </div>
</form>